<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/adm_viewuser_get/">View user</a><br>
<a href="/myapp/adm_view_hospital_get/">View hospital</a><br>
<a href="/myapp/adm_view_accepthospital_get/">Accept hospital</a><br>
<a href="/myapp/adm_view_rejecthospital_get/">Reject hospital</a><br>
<a href="/myapp/adm_addvaccination_info/">Add vaccination information</a><br>
<a href="/myapp/adm_viewvaccinationinfo_get/">View vaccination information</a><br>
<a href="/myapp/adm_add_country_vaccine_get/">Add Country vaccine</a><br>
<a href="/myapp/adm_view_country_vaccine_get/">View Country vaccine</a><br>
<a href="/myapp/adm_view_document"> View booking Report</a><br>
<a href="/myapp/adm_view_booking/"> View vaccine document </a><br>
<a href="/myapp/adm_view_vaccine_stock_get/"> View vaccine stock </a><br>
<a href="/myapp/adm_change_password_get/"> Change password </a><br>
<a href="/myapp/adm_change_password_get/"> Change password </a><br>


</body>
</html>