<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/h_view_vaccine_info/">vaccine information</a><br>
<a href="/myapp/H_view_profile/">Hospital view profile</a><br>
<a href="/myapp/view_vaccine_stock/">view stock</a><br>
<a href="/myapp/H_changepassword_get/">Change password</a><br>
<a href="/myapp/h_slot_get/">Add slot</a><br>
<a href="/myapp/h_view_slot_get/">View slot</a><br>
<a href="/myapp/H_view_booking/">View BOOKING</a><br>
<a href="/myapp/H_view_document/">View documnet</a><br>
<a href="/myapp/H_view_approved_doc/">View approved documnet</a><br>

</body>
</html>
