<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/U_view_vaccinr_information/">vaccine information</a><br>
<a href="/myapp/U_view_profile/">View profile</a><br>
<a href="/myapp/U_changepassword_get/">Change password</a><br>
<a href="/myapp/Add_child_get/">Add child</a><br>
<a href="/myapp/U_view_child_get/">View child</a><br>
<a href="/myapp/user_add_document_get/">Add Document</a><br>
<a href="/myapp/user_view_document/">View Document</a><br>
<a href="/myapp/user_view_country_vaccine_get/">View country_vaccine</a><br>
<a href="/myapp/U_view_booking/">View booking</a><br>
{#<a href="/myapp/U_view_vaccin_information/">view_vaccin_information</a><br>#}


</body>
</html>